<%= form_with model: @board, method: :put do |form| %>
  <div>
    <% if @board.has_winner? %>
      <h1 class="winner" data-test="winner-message"> <%= @board.winner %> won </h1>
    <% elsif @board.tied? %>
      <h1 class="tie" data-test="tie-message">It is a tie!</h1>
    <% else %>
      <h1 class="current-player" data-test="current-player-message"><%= @board.current_player %> is playing</h1>
    <% end %>
    <div class="tic-tac-toe-grid" data-test="tic-tac-toe-grid">
      <% @board.cells.each_char.with_index do |cell, index| %>
          <% if cell == " " %>
            <label class="cell" data-toggle-selected>
              <%= form.radio_button :position, index %>
            </label>
          <% else %>
            <label class="cell">
              <%= cell %>
            </label>
          <% end %>
      <% end %>
    </div>
  </div>
  <% unless @board.tied? || @board.has_winner? %>
    <div data-test="filler-input">
      <%= form.submit %>
    </div>
  <% end %>
<% end %>

<%= link_to "Back", boards_path %>

<script>
  window.addEventListener("DOMContentLoaded", (event) => {
    const cells = document.querySelectorAll("[data-toggle-selected]");
    cells.forEach(cell => {
      cell.addEventListener("click", (event) => {
        if (event.target.tagName == "LABEL") {
          cells.forEach(cell => cell.classList.remove("cell--selected"));
          event.target.classList.add("cell--selected");
        }
      });
    });
  });
</script>
